*{
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.link{
    text-decoration: none;
}

.heading{
    text-align: center;
    color: #9398AA;
}

.nav_items{
    color: #9398AA;
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.nav_items Link{
    text-decoration: none;
}